.container {

    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.card {

   

    margin-left: 5px;
    border-radius: 2px;
    border-width: 1px;


}


.total {

background-color: rgb(204, 229, 255);
padding: 0.8rem;
border-radius: 3px;
margin-top: 2rem;
margin-bottom: 2rem;
border: solid 1px;

}


