.container {

    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.card {

   

    margin-left: 5px;
    border-radius: 2px;
    border-width: 1px;




}
